@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.name-highlight {
    color: orange;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

.half-width img {
    width: 75%;
}

.top-banner {
    background-image: url("./images/top-banner.png");
    background-repeat: no-repeat;
}

section {
    height: 600px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(90deg, salmon, orange);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}